@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel
@using NetspeedMainWebsite.Models.ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Gsm {
        display: block;
    }

    #SmsVerification {
        display: none;
    }

    #ContactInformation {
        display: none;
    }

    #AddressAndApplicationInformation {
        display: none;
    }

    #TariffsAndPreference {
        display: none;
    }

    #IDInformation {
        display: none;
    }

    #ApplicationSummary {
        display: none;
    }
</style>




@Html.BeginForm("Index", "Application", FormMethod.Post)
{
@Html.AntiForgeryToken()

@Html.Partial("ApplicationParts/_ApplicationConstant")


<div id="Gsm">
    @Html.Partial("ApplicationParts/_Gsm")
    <input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible1();" />
</div>

<div id="SmsVerification">
    @Html.Partial("ApplicationParts/_SmsVerification")
    <input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible2();" />
</div>

<div id="ContactInformation">
    @Html.Partial("ApplicationParts/_ContactInformation")
    <input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible3();" />
</div>

<div id="AddressAndApplicationInformation">
    @Html.Partial("ApplicationParts/_AddressAndApplicationInformation")
    <input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible4();" />
</div>

<div id="TariffsAndPreference">
    @Html.Partial("ApplicationParts/_TariffsAndPreference")
    <input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible5();" />
</div>

<div id="IDInformation">
    @Html.Partial("ApplicationParts/_IDInformation")
    <input id="ButtonSwitch" type="button" value="Click" onclick="switchVisible6();" />
</div>

<div id="ApplicationSummary">
    @Html.Partial("ApplicationParts/_ApplicationSummary")
    <button type="submit">gönder</button>
</div>

</div>
</div>
</div>
</div>
</div>

@section script{

    @Scripts.Render("~/Scripts/js/get-infrastructure.js")

    <script>
        $('#ProvinceId').change(function () {
            GetValues('#ProvinceId', '#DistrictId', '/InfrastructureInquiry/GetDistricts');
        })
        $('#DistrictId').change(function () {
            GetValues('#DistrictId', '#RegionId', '/InfrastructureInquiry/GetRegions');
        })
        $('#RegionId').change(function () {
            GetValues('#RegionId', '#NeighborhoodId', '/InfrastructureInquiry/GetNeighborhoods');
        })
        $('#NeighborhoodId').change(function () {
            GetValues('#NeighborhoodId', '#StreetId', '/InfrastructureInquiry/GetStreets');
        })
        $('#StreetId').change(function () {
            GetValues('#StreetId', '#BuildingId', '/InfrastructureInquiry/GetBuildings');
        })
        $('#BuildingId').change(function () {
            GetValues('#BuildingId', '#ApartmentId', '/InfrastructureInquiry/GetApartments');
        })
        $('#ApartmentId').change(function () {
        })
    </script>


    <script>
        function switchVisible1() {
            if (document.getElementById('Gsm')) {

                if (document.getElementById('Gsm').style.display == 'block') {
                    document.getElementById('Gsm').style.display = 'none';
                    document.getElementById('SmsVerification').style.display = 'block';
                }
                else {
                    document.getElementById('Gsm').style.display = 'block';
                    document.getElementById('SmsVerification').style.display = 'none';
                }
            }
        }

        function switchVisible2() {
            if (document.getElementById('SmsVerification')) {

                if (document.getElementById('SmsVerification').style.display == 'block') {
                    document.getElementById('SmsVerification').style.display = 'none';
                    document.getElementById('ContactInformation').style.display = 'block';
                }
                else {
                    document.getElementById('SmsVerification').style.display = 'block';
                    document.getElementById('ContactInformation').style.display = 'none';
                }
            }
        }
        function switchVisible3() {
            if (document.getElementById('ContactInformation')) {

                if (document.getElementById('ContactInformation').style.display == 'block') {
                    document.getElementById('ContactInformation').style.display = 'none';
                    document.getElementById('AddressAndApplicationInformation').style.display = 'block';
                }
                else {
                    document.getElementById('ContactInformation').style.display = 'block';
                    document.getElementById('AddressAndApplicationInformation').style.display = 'none';
                }
            }
        }
        function switchVisible4() {
            if (document.getElementById('AddressAndApplicationInformation')) {

                if (document.getElementById('AddressAndApplicationInformation').style.display == 'block') {
                    document.getElementById('AddressAndApplicationInformation').style.display = 'none';
                    document.getElementById('TariffsAndPreference').style.display = 'block';
                }
                else {
                    document.getElementById('AddressAndApplicationInformation').style.display = 'block';
                    document.getElementById('TariffsAndPreference').style.display = 'none';
                }
            }
        }
        function switchVisible5() {
            if (document.getElementById('TariffsAndPreference')) {

                if (document.getElementById('TariffsAndPreference').style.display == 'block') {
                    document.getElementById('TariffsAndPreference').style.display = 'none';
                    document.getElementById('IDInformation').style.display = 'block';
                }
                else {
                    document.getElementById('TariffsAndPreference').style.display = 'block';
                    document.getElementById('IDInformation').style.display = 'none';
                }
            }
        }
        function switchVisible6() {
            if (document.getElementById('IDInformation')) {

                if (document.getElementById('IDInformation').style.display == 'block') {
                    document.getElementById('IDInformation').style.display = 'none';
                    document.getElementById('ApplicationSummary').style.display = 'block';
                }
                else {
                    document.getElementById('IDInformation').style.display = 'block';
                    document.getElementById('ApplicationSummary').style.display = 'none';
                }
            }
        }




                                                                    //function switchVisible() {

                                                                    //    //if (document.getElementById('Gsm').style.display == 'block') {
                                                                    //    //        document.getElementById('Gsm').style.display = 'none';
                                                                    //    //        document.getElementById('SmsVerification').style.display = 'block';
                                                                    //    //}


                                                                    //    if (document.getElementById('SmsVerification').style.display == 'block') {
                                                                    //        document.getElementById('Gsm').style.display = 'none';
                                                                    //        document.getElementById('SmsVerification').style.display = 'none';
                                                                    //        document.getElementById('ContactInformation').style.display = 'block';
                                                                    //    }
                                                                    //    //if (document.getElementById('SmsVerification').style.display == 'block') {
                                                                    //    //    document.getElementById('Gsm').style.display = 'none';
                                                                    //    //    document.getElementById('SmsVerification').style.display = 'none';
                                                                    //    //    document.getElementById('ContactInformation').style.display = 'block';
                                                                    //    //}
                                                                    //    if (document.getElementById('ContactInformation').style.display == 'block') {
                                                                    //        document.getElementById('Gsm').style.display = 'none';
                                                                    //        document.getElementById('SmsVerification').style.display = 'none';
                                                                    //        document.getElementById('ContactInformation').style.display == 'none'
                                                                    //        //document.getElementById('AddressAndApplicationInformation').style.display = 'block';
                                                                    //    }

                                                                    //    if (document.getElementById('AddressAndApplicationInformation').style.display == 'block') {
                                                                    //        document.getElementById('Gsm').style.display = 'none';
                                                                    //        document.getElementById('SmsVerification').style.display = 'none';
                                                                    //        document.getElementById('ContactInformation').style.display == 'none'
                                                                    //        document.getElementById('TariffsAndPreference').style.display = 'block';
                                                                    //    }
                                                                    //    if (document.getElementById('TariffsAndPreference').style.display == 'block') {
                                                                    //        document.getElementById('Gsm').style.display = 'none';
                                                                    //        document.getElementById('SmsVerification').style.display = 'none';
                                                                    //        document.getElementById('ContactInformation').style.display == 'none'
                                                                    //        document.getElementById('TariffsAndPreference').style.display = 'block';
                                                                    //    }
                                                                    //    else {
                                                                    //        document.getElementById('SmsVerification').style.display = 'block';
                                                                    //        document.getElementById('Gsm').style.display = 'none';
                                                                    //        document.getElementById('ContactInformation').style.display = 'none';
                                                                    //    }
                                                                    //}

    </script>


}
