@*@Html.ValidationSummary(false, "Please fix the following error and then submit the form")*@
@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel
@using NetspeedMainWebsite.Models.ViewModel

@{
    ViewBag.Title = "Başvuru - ADSL, VDSL, FİBER Ev İnterneti Başvurusu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    @*<script src="alert/dist/sweetalert-dev.js"></script>
        <link href="alert/dist/sweetalert.css" rel="stylesheet" >*@
}

<style>

    .text-danger.required-error {
        display: none;
    }

    .validation-summary-message {
        color: red;
    }

        .validation-summary-message ul {
            list-style-type: none;
        }

    #InfrastructureInquiryForApplication {
        display: block;
    }

    #visibleButton {
        display: none;
    }

    #InfrastructureAndTariffs {
        display: none;
    }

    #ContactInformation {
        display: none;
    }

    #IDInformation {
        display: none;
    }

    #GSMValidation {
        display: none;
    }

    #SMSValidation {
        display: none;
    }

    #validation-error {
        display: none;
    }

    .swal-button {
        color: #8c8299;
        background-color: #E4E6EF;
        font-weight: 400;
        padding: 0.5em 1em;
    }

    /*   .swal-button:hover {
            background-color: #E4E6EF;
        }*/

    .swal-footer {
        text-align: center
    }

    .swal-text {
        font-size: 1.1rem
    }

    .swal-modal {
        width: 45vh !important;
    }
    /*
    .swal-button:not([disabled]):hover {
        background-color: #E4E6EF;
    }*/

    /*.swal-button:not([disabled]):hover {
        background-color: none;
    }*/

    .swal-button:not([disabled]):hover {
        color: #8c8299;
        background-color: #E4E6EF;
        font-weight: 400;
    }

    /*.swal-button:focus {
        overflow: hidden;*/
    /* color: #E4E6EF;*/
    /*}*/

    .swal-button:focus {
        box-shadow: none;
    }

    /*  .swal-popup{
        padding:20rem;
    }*/
    /*
    .swal-icon--error__line--left {
        width:2.5em;
        height:0.5em
    }
    .swal-icon--error__line--right {
        width: 47px;
        height: 5px
    }*/
</style>

<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

    </div>
    <!--end::Toolbar-->
</div>

<div class="d-flex flex-column-fluid">

    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card Body-->
            <div class="card-body p-0">
                <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                        <!--begin::Aside Top-->
                        <div class="d-flex offcanvas-mobile flex-column-fluid flex-column px-xxl-20 px-10">
                            <!--begin: Wizard Nav-->
                            <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                <!--begin::Wizard Steps-->
                                <div class="wizard-steps">

                                    <!--begin::Wizard Step 1 Nav-->
                                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">
                                                    <span class="svg-icon svg-icon-info svg-icon-2x">
                                                        <!--begin::Svg Icon-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <rect fill="#000000" opacity="0.3" x="2" y="2" width="20" height="20" rx="10" />
                                                                <path d="M6.16794971,14.5547002 C5.86159725,14.0951715 5.98577112,13.4743022 6.4452998,13.1679497 C6.90482849,12.8615972 7.52569784,12.9857711 7.83205029,13.4452998 C8.9890854,15.1808525 10.3543313,16 12,16 C13.6456687,16 15.0109146,15.1808525 16.1679497,13.4452998 C16.4743022,12.9857711 17.0951715,12.8615972 17.5547002,13.1679497 C18.0142289,13.4743022 18.1384028,14.0951715 17.8320503,14.5547002 C16.3224187,16.8191475 14.3543313,18 12,18 C9.64566871,18 7.67758127,16.8191475 6.16794971,14.5547002 Z" fill="#000000" />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Hoşgeldiniz</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 1 Nav-->
                                    <!--begin::Wizard Step 2 Nav-->
                                    <!--end::Wizard Step 2 Nav-->
                                    <!--begin::Wizard Step 3 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">1</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Adres ve Başvuru Bilgisi</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 3 Nav-->
                                    <!--begin::Wizard Step 4 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">2</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Tarife ve Tercihler</h3>

                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 4 Nav-->
                                    <!--begin::Wizard Step 5 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">3</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">İletişim Bilgileriniz</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 5 Nav-->
                                    <!--begin::Wizard Step 6 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">4</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Kimlik Bilgileri</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 6 Nav-->
                                    <!--begin::Wizard Step 6 Nav-->

                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">5</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">SMS Doğrulama</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 6 Nav-->
                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">
                                                    <span class="svg-icon svg-icon-gray svg-icon-2x">
                                                        <!--begin::Svg Icon-->

                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                <path d="M9,10 L9,19 L10.1525987,19.3841996 C11.3761964,19.7920655 12.6575468,20 13.9473319,20 L17.5405883,20 C18.9706314,20 20.2018758,18.990621 20.4823303,17.5883484 L21.231529,13.8423552 C21.5564648,12.217676 20.5028146,10.6372006 18.8781353,10.3122648 C18.6189212,10.260422 18.353992,10.2430672 18.0902299,10.2606513 L14.5,10.5 L14.8641964,6.49383981 C14.9326895,5.74041495 14.3774427,5.07411874 13.6240179,5.00562558 C13.5827848,5.00187712 13.5414031,5 13.5,5 L13.5,5 C12.5694044,5 11.7070439,5.48826024 11.2282564,6.28623939 L9,10 Z" fill="#000000"></path>
                                                                <rect fill="#000000" opacity="0.3" x="2" y="9" width="5" height="11" rx="1"></rect>
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Tamamlandı!</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Steps-->
                            </div>
                            <!--end: Wizard Nav-->
                            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(../../Content/media/bg/ecovered.svg)"></div><br>
                        </div>
                        <!--end::Aside Top-->
                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->


                    <div class="card card-custom wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10">
                        <div class="d-flex justify-content-center flex-row-fluid ">
                            @if (TempData["ValidationError"] != null)
                            {
                                <style>
                                    #validation-error {
                                        display: block;
                                    }
                                </style>
                            }


                            @using (Html.BeginForm("Index", "Application", FormMethod.Post, new { @id = "ApplicationForm" }))
                            {
                                <div id="InfrastructureInquiryForApplication" class="wizard-step" style="padding: 2em;">

                                    <div class="text-danger" style="font-size:1.5em; border:0.05em solid #290B63; padding:0.5em; border-radius: 0.5em;" id="validation-error">
                                        @TempData["ValidationError"]

                                    </div>
                                    @Html.Partial("ApplicationParts/_InfrastructureInquiryForApplication")
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7">

                                        </div>

                                        <div class="col-lg-5 col-md-5">
                                            <div>
                                                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3 inputControlInf" data-wizard-type="action-next">
                                                    Sonraki
                                                    <span class="svg-icon svg-icon-md ml-1">
                                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div id="InfrastructureAndTariffs" class="wizard-step">
                                    <div id="InfrastructureAndTariffContent"></div>
                                    <div id="visibleButton">
                                        <div class="form-group">
                                            <div class="pb-15 pb-lg-4">
                                                <h3 class="font-weight-bolder text-dark-50 font-size-h2">Varsa Referans Kodu</h3><hr class="my-4">
                                            </div>
                                            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Referans Kodunu Yazınız</label>
                                            @Html.EditorFor(m => m.ReferenceCode, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Referans Kodu" } })
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4">
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" data-wizard-type="action-prev" onclick="PrevButtonInfTariffInfApp();">
                                                        <span class="svg-icon svg-icon-md mr-1">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                                                    <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>Önceki
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                            </div>

                                            <div class="col-lg-4 col-md-4">
                                                <div>
                                                    <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3 inputControlTarCon" data-wizard-type="action-next">
                                                        Sonraki
                                                        <span class="svg-icon svg-icon-md ml-1">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="ContactInformation" class="wizard-step">
                                    @Html.Partial("ApplicationParts/_ContactInformation")
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9">
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" data-wizard-type="action-prev" onclick="PrevButtonConInfTariff();">
                                                        <span class="svg-icon svg-icon-md mr-1">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                                                    <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>Önceki
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-3">
                                                <div>
                                                    <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3 inputControlButton" data-wizard-type="action-next">
                                                        Sonraki
                                                        <span class="svg-icon svg-icon-md ml-1">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="IDInformation" class="wizard-step">
                                    @Html.Partial("ApplicationParts/_IDInformation")

                                    <div class="row">
                                        <div class="col-lg-9 col-md-9">
                                            <div class="mr-2">
                                                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" data-wizard-type="action-prev" onclick="PrevButtonIDCon();">
                                                    <span class="svg-icon svg-icon-md mr-1">
                                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                                                <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>Önceki
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3">
                                            <div>
                                                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3 inputControlButtonId" data-wizard-type="action-next">
                                                    Sonraki
                                                    <span class="svg-icon svg-icon-md ml-1">
                                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="GSMValidation" class="wizard-step">
                                    @Html.Partial("ApplicationParts/_GSMValidation")

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="mr-2">
                                                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" data-wizard-type="action-prev" onclick="PrevButtonGSMID();">
                                                    <span class="svg-icon svg-icon-md mr-1">
                                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                                                <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>Önceki
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                        </div>

                                        <div class="col-lg-4 col-md-4">
                                            <div>
                                                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3 inputGsmButton" data-wizard-type="action-next" id="correctPhone">
                                                    Sonraki
                                                    <span class="svg-icon svg-icon-md ml-1">
                                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                        <!--end::Svg Icon-->
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="validation-summary-message">
                            @Html.ValidationSummary()
                        </div>
                    </div>

                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>
        </div>
    </div>
</div>

@section script{
    @Scripts.Render("~/Scripts/js/get-infrastructure.js")
    @Scripts.Render("~/Scripts/js/get-ServiceAvailability.js")

    <script>
        $('button.inputControlButton').click(function () {
            var clickedButton = $(this);
            var currentContainer = clickedButton.closest('div.wizard-step');
            var isValid = true;
            //var requiredSelects = currentContainer.find('.form-group.is-required').find('select[name]');
            var requiredTexts = currentContainer.find('.form-group.is-required').find('input[name]');

            //requiredSelects.each(function () {
            //    var currentSelect = $(this);
            //    var hasSelectedOption = currentSelect.find('option[value!=""]:selected').length > 0;

            //    if (!hasSelectedOption) {
            //        isValid = false;
            //        currentSelect.closest('.form-group').find('span.required-error').show();
            //        swal({
            //            title: '',
            //            text: 'Hata Bulundu, Lütfen Kontrol Edin',
            //            icon: 'error',
            //            button: 'Tamam',
            //        })
            //    }
            //    else {
            //        currentSelect.closest('.form-group').find('span.required-error').hide();
            //    }
            //});

            requiredTexts.each(function () {
                var currentInput = $(this);
                var hasText = currentInput.val() != "";

                if (!hasText) {
                    isValid = false;
                    currentInput.closest('.form-group').find('span.required-error').show();
                    swal({
                        title: '',
                        text: 'Hata Bulundu, Lütfen Kontrol Edin',
                        icon: 'error',
                        button: 'Tamam',
                    })
                }
                else {
                    currentInput.closest('.form-group').find('span.required-error').hide();
                }
            });

            if (isValid == true) {
                if ($('#ContactInformation').is(':visible')) {
                    $('#ContactInformation').hide();
                    $('#IDInformation').show();
                }
            }

        })
    </script>

    <script>
        $('button.inputControlButtonId').click(function () {
            var clickedButton = $(this);
            var currentContainer = clickedButton.closest('div.wizard-step');
            var isValid = true;
            var requiredSelects = currentContainer.find('.form-group.is-required').find('select[name]');
            var requiredTexts = currentContainer.find('.form-group.is-required').find('input[name]');

            requiredSelects.each(function () {
                var currentSelect = $(this);
                var hasSelectedOption = currentSelect.find('option[value!=""]:selected').length > 0;

                if (!hasSelectedOption) {
                    isValid = false;
                    currentSelect.closest('.form-group').find('span.required-error').show();
                    swal({
                        title: '',
                        text: 'Hata Bulundu, Lütfen Kontrol Edin',
                        icon: 'error',
                        button: 'Tamam',
                    })
                }
                else {
                    currentSelect.closest('.form-group').find('span.required-error').hide();
                }
            });

            requiredTexts.each(function () {
                var currentInput = $(this);
                var hasText = currentInput.val() != "";

                if (!hasText) {
                    isValid = false;
                    currentInput.closest('.form-group').find('span.required-error').show(); swal({
                        title: '',
                        text: 'Hata Bulundu, Lütfen Kontrol Edin',
                        icon: 'error',
                        button: 'Tamam',
                    })
                }
                else {
                    currentInput.closest('.form-group').find('span.required-error').hide();
                }
            });

            if (isValid == true) {

                if ($('#IDInformation').is(':visible')) {
                    $('#IDInformation').hide();
                    $('#GSMValidation').show();
                }
            }
        })
    </script>

    <script>
        $('button.inputControlInf').click(function () {
            var clickedButton = $(this);
            var currentContainer = clickedButton.closest('div.wizard-step');
            var isValid = true;
            var requiredSelects = currentContainer.find('.form-group.is-required').find('select[name]');
            var requiredTexts = currentContainer.find('.form-group.is-required').find('input[name]');

            requiredSelects.each(function () {
                var currentSelect = $(this);
                var hasSelectedOption = currentSelect.find('option[value!=""]:selected').length > 0;

                if (!hasSelectedOption) {
                    isValid = false;
                    currentSelect.closest('.form-group').find('span.required-error').show();

                        swal({
                            title: '',
                            text: 'Hata Bulundu, Lütfen Kontrol Edin',
                            icon: 'error',
                            button: 'Tamam',
                        })


                }
                else {
                    currentSelect.closest('.form-group').find('span.required-error').hide();
                }
            });

            requiredTexts.each(function () {
                var currentInput = $(this);
                var hasText = currentInput.val() != "";

                if (!hasText) {
                    isValid = false;
                    currentInput.closest('.form-group').find('span.required-error').show();
                    swal({
                        title: '',
                        text: 'Hata Bulundu, Lütfen Kontrol Edin',
                        icon: 'error',
                        button: 'Tamam',
                    })
                }
                else {
                    currentInput.closest('.form-group').find('span.required-error').hide();
                }
            });

            if (isValid == true) {
                $.ajax({
                    url: '@Url.Action("GetServiceAvailability","Application")',
                    method: 'POST',
                    data: { apartmentId: $("#ApartmentId").val() },
                    complete: function (data, status) {
                        if (status == "success") {
                            //$('#tariffs-content').html(data.responseText);
                            $('#InfrastructureAndTariffContent').html(data.responseText);
                            var foundButton = $('#InfrastructureAndTariffContent').find('.HasNotInfrastucture');
                            if (foundButton.length == 0) {
                                $('#visibleButton').show();
                            }
                        }
                    }
                })

                if ($('#InfrastructureInquiryForApplication').is(':visible')) {
                    $('#InfrastructureInquiryForApplication').hide();
                    $('#InfrastructureAndTariffs').show();
                }
            }
        })
    </script>

    <script>
        $('button.inputControlTarCon').click(function () {
            var count = 0;
            var clickedButton = $(this);
            var currentContainer = clickedButton.closest('div.wizard-step');
            var isValid = true;
            var requiredRadioButtons = currentContainer.find('.form-group.is-required').find('input[type=radio]');

            requiredRadioButtons.each(function () {
                var currentSelect = $(this);
                var HasRadioButtons = currentSelect.is(':checked');
                if (HasRadioButtons) {
                    count = count + 1;
                }

                if (count == 1) {
                    currentSelect.closest('.form-group').find('span.required-error').hide();

                    if ($('#InfrastructureAndTariffs').is(':visible')) {
                        $('#InfrastructureAndTariffs').hide();
                        $('#ContactInformation').show();
                    }
                }
                else {
                    isValid = false;
                    currentSelect.closest('.form-group').find('span.required-error').show();
                    swal({
                        title: '',
                        text: 'Hata Bulundu, Lütfen Kontrol Edin',
                        icon: 'error',
                        button: 'Tamam',
                    })
                }
            });
        })


    </script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                changeMonth: true,
                dayNamesMin: ["Paz", "Pzt", "Sal", "Çar", "Per", "Cu", "Cmt"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                monthNamesShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz", "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
                yearRange: "1970:2021"
            });

        });
    </script>

    <script>
        $(function () {
            $('#PhoneNumber').inputmask({ "mask": "(999)-999-9999", 'autoUnmask': true, 'removeMaskOnSubmit': true });

        });
    </script>

    <script>
            $('#getServiceAvability').click(function () {
                $.ajax({
                    url: '@Url.Action("GetServiceAvailability","Application")',
                    method: 'POST',
                    data: { apartmentId: $("#ApartmentId").val() },
                    complete: function (data, status) {
                        if (status == "success") {
                            //$('#tariffs-content').html(data.responseText);
                            $('#InfrastructureAndTariffContent').html(data.responseText);
                            var foundButton = $('#InfrastructureAndTariffContent').find('.HasNotInfrastucture');
                            if (foundButton.length == 0) {
                                $('#visibleButton').show();
                            }
                        }
                    }
                })
            })
    </script>

    <script>
        $('#ProvinceId').change(function () {
            GetValues('#ProvinceId', '#DistrictId', '@Url.Action("GetDistricts", "InfrastructureInquiry")');
        })
        $('#DistrictId').change(function () {
            GetValues('#DistrictId', '#RegionId','@Url.Action("GetRegions", "InfrastructureInquiry")');
        })
        $('#RegionId').change(function () {
            GetValues('#RegionId', '#NeighborhoodId', '@Url.Action("GetNeighborhoods", "InfrastructureInquiry")');
        })
        $('#NeighborhoodId').change(function () {
            GetValues('#NeighborhoodId', '#StreetId','@Url.Action("GetStreets", "InfrastructureInquiry")');
        })
        $('#StreetId').change(function () {
            GetValues('#StreetId', '#BuildingId', '@Url.Action("GetBuildings", "InfrastructureInquiry")');
        })
        $('#BuildingId').change(function () {
            GetValues('#BuildingId', '#ApartmentId', '@Url.Action("GetApartments", "InfrastructureInquiry")');
        })
        $('#ApartmentId').change(function () {
        })
    </script>

    <script>
        function PrevButtonInfTariffInfApp() {
            if ($('#InfrastructureAndTariffs').show()) {
                $('#InfrastructureAndTariffs').hide();
                $('#InfrastructureInquiryForApplication').show();
            }
        }
    </script>

    <script>
        function PrevButtonConInfTariff() {
            if ($('#ContactInformation').show()) {
                $('#ContactInformation').hide();
                $('#InfrastructureAndTariffs').show();
            }
        }
    </script>

    <script>
        function PrevButtonGSMID() {

            if ($('#GSMValidation').show()) {
                $('#GSMValidation').hide();
                $('#IDInformation').show();
            }
        }
    </script>

    <script>
        function PrevButtonIDCon() {
            if ($('#IDInformation').show()) {
                $('#IDInformation').hide();
                $('#ContactInformation').show();
            }
        }
    </script>

    <script>
        $('button.inputGsmButton').click(function () {
            var clickedButton = $(this);
            var currentContainer = clickedButton.closest('div.wizard-step');
            var isValid = true;
            //var requiredSelects = currentContainer.find('.form-group.is-required').find('select[name]');
            var requiredTexts = currentContainer.find('.form-group.is-required').find('input[name]');

            requiredTexts.each(function () {
                var currentInput = $(this);
                var hasText = currentInput.val() != "";

                if (!hasText) {
                    isValid = false;
                    currentInput.closest('.form-group').find('span.required-error').show();
                    swal({
                        title: '',
                        text: 'Hata Bulundu, Lütfen Kontrol Edin',
                        icon: 'error',
                        button: 'Tamam',
                    })

                }
                else {
                    currentInput.closest('.form-group').find('span.required-error').hide();
                }
            });

            if (isValid == true) {
                $('#ApplicationForm').submit();
            }

        })
    </script>


    <script>
        $(function () {
            $('#TC').inputmask({ "mask": "99999999999", 'autoUnmask': true, 'removeMaskOnSubmit': true });
        });
    </script>

    @*<script>
            $(function () {
                $('#PostalCode').inputmask({ "mask": "99999", 'autoUnmask': true, 'removeMaskOnSubmit': true });
            });
        </script>*@

    <script>
        $(function () {
            $("#Floor").inputmask({ regex: "[0-90-9- ]*" });
        });
    </script>


    @*<script>
        $(function () {
            $('#Floor').inputmask({ "mask": "999", 'autoUnmask': true, 'removeMaskOnSubmit': true });
        });
    </script>*@

    <script>
        $(function () {
            $("#PostalCode").inputmask({ regex: "[0-90-9- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#FirstName").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#LastName").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#FatherName").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#MotherName").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#BirthPlace").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#PlaceOfIssue").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script>
        $(function () {
            $("#MotherFirstSurname").inputmask({ regex: "[a-zA-Z- ]*" });
        });
    </script>

    <script type="text/javascript">
        function JSalert() {
            swal("Congrats!", ", Your account is created!", "success");
        }
    </script>

}
