@model NetspeedMainWebsite.Models.ViewModel.ContactViewModel
@using NetspeedMainWebsite.Models.ViewModel

@{
    ViewBag.Title = "Bize Ulaşın - İletişim Formu - Netspeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex bgi-size-cover bgi-position-center" style="background-image: url('../../Content/media/bg/bb-3.jpg')">
    <div class="container">
        <!--begin::Topbar-->
        <div class="d-flex justify-content-between align-items-center border-bottom border-white py-7">
            <h3 class="h4 text-dark-25 mb-0">İletişim Formu</h3>
            <div class="d-flex">
                <a href="/About/ContactUs" class="font-size-h6 text-dark-25 text-hover-warning font-weight-bold ml-8">İletişim Kanalları</a>
            </div>
        </div>
        <!--end::Topbar-->

        <div class="d-flex align-items-stretch text-center flex-column py-15">
            <!--begin::Heading-->
            <h1 class="text-white font-weight-bolder mb-12">Bize Yazın</h1>
            <div class="h8 text-dark-25 mb-6">
                Netspeed olarak size destek olmak için buradayız. Sunduğumuz hizmetleri ile ilgili her türlü soru, öneri, şikayet ya da memnuniyetinizi bize buradan iletebilirsiniz.
                <!--end::Heading-->
                <!--begin::Form-->
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("ContactForm", "Contact", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="card-body bg-white">
        <div class="row">
            <div class="col-xl-3"></div>
            @*<div style="color:red; list-style-type:none;">
                @Html.ValidationSummary()
            </div>*@

            <div class="col-xl-6">
                <div style="text-align:center; color:#6610f2; font-size:2em; margin-bottom:1em">
                    @ViewBag.Message
                </div>
                <div class="alert alert-custom fade show my-8 mb-8" style="background-color: rgb(255 248 225)" role="alert">
                    <div class="alert-icon ">
                        <i class="animate__animated animate__flash animate__delay-3s fas fa-info-circle text-warning">
                        </i>
                    </div>
                    <div class="alert-text">Eğer abonemiz iseniz daha hızlı işleme alınabilmesi için Online İşlem Merkezi üzerinden Destek Kaydı oluşturmanızı öneririz.</div>
                </div>
                <!--begin::Input-->
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Adınız Soyadınız</label>

                    @Html.EditorFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6", name = "FullName", placeholder = "Adı Soyadı", @autocomplete = "off", @maxlength = 50 } })

                    <div class="text-danger">
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">İletişim Numaranız</label>
                    @Html.EditorFor(m => m.PhoneNumber, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6",
                            name = "PhoneNumber",
                            @autocomplete = "off",
                            placeholder = "Telefon Numarası",
                            id = "kt_inputmask_3"@*im - insert = "true"*@ }
                    })

                    <div class="text-danger">
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">E-Posta Adresiniz</label>
                    @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6", name = "EmailAddress", @autocomplete = "off", placeholder = "E-Posta Adresi" } })

                    <div class="text-danger">
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark" for="exampleTextarea">Mesajınız</label>
                    <!--<textarea class="form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6 exampleTextarea" name="Message"--> @*id="Message"*@ <!--id="exampleTextarea" rows="3"></textarea>-->
                    <span class="form-text text-muted">Mesajınıza gerekiyorsa 24 saat içerisinde dönüş sağlayacağız.</span>

                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control form-control-solid h-auto p-4 border-0 rounded-lg font-size-h6 exampleTextarea", @rows = "3", id = "exampleTextarea", htmlAttributes = new { name = "Message", @autocomplete = "off", placeholder = "Mesajınız", @maxlength = "1000" } })

                    <div class="text-danger">
                        @Html.ValidationMessageFor(m => m.Message)
                    </div>
                </div>
                <!--end::Input-->
            </div>
            <div class="col-xl-3"></div>
        </div>
    </div>

    <!--begin::Actions-->
    <div class="card-footer">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <button type="submit" class="btn btn-primary font-weight-bold mr-2">Gönder</button>
                <button type="reset" class="btn btn-clean font-weight-bold">İptal</button>
            </div>
            <div class="col-xl-3"></div>
        </div>
    </div>
    <!--end::Actions-->

}
<div class="py-10">
</div>
