<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Netspeed - Limitsiz Mutluluk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link rel="shortcut icon" href="~/Content/media/logos/favicon.ico" />
    <link rel="stylesheet" href="~/Content/animate.min.css" />
    <meta property="og:title" content="Netspeed - Limitsiz Mutluluk">
</head>
<body>
    @Html.Partial("LayoutParts/Menu")


    @RenderBody()

    @Html.Partial(partialViewName: "LayoutParts/HelpBubModal", model: null, viewData: new ViewDataDictionary())
    @Html.Partial("LayoutParts/Footer")


    @Scripts.Render("~/bundles/jquery")
    <!--end::Global Config-->
    <!--begin::Standart Full(used by all pages)-->
    <script src="~/Scripts/js/plugins.bundle.js"></script>
    <script src="~/Scripts/js/prismjs.bundle.js"></script>
    <script src="~/Scripts/js/scripts.bundle.js"></script>
    <!--end::Standart Full-->
    <!--begin::Sayfa Ozel Full-->
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(Sayfa Ozel Full)-->

    <script src="~/Scripts/js/widgets.js"></script>
    <script src="~/Scripts/js/cookieconsent.min.js" defer></script>
    <script src="~/Scripts/js/helpbubscript.js"></script>
    @section Scripts {
        <script>
            function ShowCallMe()
            {
            //$document.getElementById("example").click();
                $("Footer").ready(function () {
                    $('#exampleModal').modal('show');

                    $('#modal').modal('show');
                    $('#modal').modal('fade').modal('show');

                    $('#example').modal('show');
                    $data("bs.modal").modal('show');

                });
          
            }
        </script>
      
           
            }
    
    

    @RenderSection("script", required: false)
</body>
</html>
