@model IEnumerable<BillInfoViewModel>
@using NetspeedMainWebsite.Models.ViewModel

@*@model NetspeedMainWebsite.Models.ViewModel.BillInfoViewModel*@

@{
    //var ClientItems = Model.ToArray();
    Layout = "~/Views/Shared/_Layout.cshtml";
    <title>Fatura Sorgulama ve Ödeme / faturalar - Netspeed</title>
    <meta name="searchTitle" content="Fatura Sorgulama ve Ödeme">
    <meta name="description" content="Fatura Sorgulama ve Ödeme - Türkiye'nin en ekonomik Taahhütsüz, Kotasız, Adsl, Vdsl, Fiber Hızında İnternet Paketleri Limitsiz Yalın Adsl - Ev ve Ofis interneti, Sınırsız Adsl." />
}

<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

    </div>
    <!--end::Toolbar-->
</div>

<!--end::Subheader-->
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card Body-->
            <div class="card-body p-0">
                <!--begin::Wizard 5-->
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <!--begin::Aside-->
                    <div class="wizard-aside offcanvas-mobile bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px">
                        <!--begin::Aside Top-->
                        <div class="d-flex flex-column-fluid flex-column px-xxl-20 px-10">
                            <!--begin: Wizard Nav-->
                            <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                <!--begin::Wizard Steps-->
                                <div class="wizard-steps">
                                    <!--begin::Wizard Step 1 Nav-->
                                    <div class="wizard-step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number"><i class="fas fa-credit-card font-size-h2 text-info"></i></span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight font-size-h4">Fatura Sorgulama ve Ödeme</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Wizard Step 1 Nav-->
                                    <!--begin::Wizard Step 2 Nav-->
                                    <div class="wizard-step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number"><i class="fas fa-info font-size-h6 text-info"></i></span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title font-weight text-dark-50 font-size-h6">Faturanızı sorgulayabilir, ister kredi kartı ister banka kartınızla komisyonsuz olarak ödeme yapabilirsiniz.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Steps-->
                            </div>
                            <!--end: Wizard Nav-->
                            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(../../Content/media/svg/cred3868.svg)"></div><br>
                        </div>
                    </div>
                    <!--begin::Aside-->
                    <!--begin::Content-->
                    <div class="d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 ">
                        <!--begin::Title-->
                        <div class="text-right mb-lg-4 mb-15 mr-xxl-10">

                        </div>
                        <!--end::Title-->
                        <!--begin::Form-->
                        <div class="d-flex justify-content-center flex-row-fluid ">

                            @*@using (Html.BeginForm("PaymentBillAndResult", "ClientPayment", FormMethod.Post, new { @class = "pb-5 w-100 w-md-550px w-lg-600px", id = "kt_form2" }))*@
                            @using (Html.BeginForm("PaymentSelectBill", "ClientPayment", FormMethod.Post, new { @class = "pb-5 w-100 w-md-550px w-lg-600px", id = "kt_form2" }))
                            {
                                @Html.Hidden("SelectedBills")
                                @Html.AntiForgeryToken()
                                <!--begin: Wizard Step 1-->
                                <!--begin::Title-->
                                <div class="pb-10 pb-lg-15">
                                    <h3 class="font-weight-bolder text-info font-size-h2">Faturalarınız</h3>
                                    <hr class="my-8">
                                    <div class="login-form login-signin">
                                        <!--begin::Form-->
                                        <div class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" id="kt_login_signin_form">
                                            <!--begin::Title-->
                                            <div class="pb-13 pt-lg-0 pt-5">
                                                <span class="text-dark-50 font-weight font-size-h5 mt-5">
                                                    Ödemesini yapmak istediğiniz Fatura veya Faturalarınızı seçiniz.
                                                </span>
                                                <span>@ViewBag.message</span>
                                            </div>
                                            <!--begin::Title-->
                                            <!--begin::Table-->
                                            <div class="table-responsive">
                                                <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_4">
                                                    <thead>
                                                        <tr class="text-left">

                                                            <th class="pl-0" style="width: 30px">
                                                                <label class="checkbox checkbox checkbox-inline mr-2">
                                                                    <!--<input type="checkbox"--> @*value="1"*@ <!--name="BillCheck">-->
                                                                    <span></span>
                                                                </label>
                                                            </th>
                                                            <th class="pl-0" style="min-width: 120px">
                                                                Belge No

                                                            </th>
                                                            <th style="min-width: 110px">
                                                                Dönem

                                                            </th>
                                                            <th style="min-width: 110px">
                                                                <span class="text-info">
                                                                    Son Ödeme

                                                                </span>
                                                            </th>
                                                            <th style="min-width: 120px">
                                                                Tutar

                                                            </th>
                                                        </tr>
                                                    </thead>

                                                    @foreach (var item in Model)
                                                    {
                                                        <tbody>
                                                            <tr>
                                                                <td class="pl-0 py-6">
                                                                    @* <label class="checkbox checkbox checkbox-inline">*@
                                                                    <span class="text-dark-75 font-weight-bolder text-hover-primary">
                                                                        @Html.CheckBoxFor(modelItem => item.BillCheck, new { @class = "checkbox checkbox checkbox - inline mr - 2", @data_value = item.BillId })
                                                                        @Html.HiddenFor(modelItem => item.BillId)
                                                                    </span>
                                                                    @* </label>*@
                                                                    <div class="text-danger">
                                                                        @ViewBag.message
                                                                    </div>
                                                                </td>
                                                                <td class="pl-0">
                                                                    <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary">
                                                                        @Html.DisplayFor(modelItem => item.ServiceName)
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <span class="text-dark-75 font-weight-bolder d-block ">
                                                                        @Html.DisplayFor(modelItem => item.BillDate)
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <span class="text-info font-weight-bolder d-block ">
                                                                        @Html.DisplayFor(modelItem => item.LastPaymentDate)
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <span class="text-dark-75 font-weight-bolder d-block ">
                                                                        @Html.DisplayFor(modelItem => item.Total)
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    }
                                                </table>
                                            </div>
                                            <!--end::Table-->
                                        </div>
                                        <div class="pb-lg-0 pb-5">

                                            <button type="submit" class="btn btn-primary font-weight-bold mr-2">Ödeme Yap</button>
                                            <hr class="my-8">
                                            <div class="d-flex align-items-center">
                                                <p class="text-dark-50 font-weight-bold my-8">Ödemelerinizi kolay ve güvenli bir şekilde yapabilmenizi sağlayan yeni nesil ödeme sistemi ile her seferinde kredi kartı bilgilerinizi paylaşmaya gerek kalmadan çok kolay, hızlı ve güvenli bir şekilde Netspeed evde internet faturalarınızı ödeyebilir veya otomatik olarak ödenmesini sağlayabilirsiniz. </p>
                                            </div>
                                            <p><a href="https://online.netspeed.com.tr" class="text-primary font-weight-bold my-8 text-hover-warning ">Faturanıza otomatik ödeme vermek için tıklayınız.</a></p>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
        <!--end::Content-->
    </div>
</div>



<!--end::Content-->
@section script{
    <script src="~/Scripts/js/hide-show-fields-form.js"></script>
    <script src="~/Scripts/js/input-mask.js"></script>

    <script>
        $('form').submit(function (e) {
            var idList = [];
            $('input[id="item_BillCheck"]').each(function () {
                if ($(this).is(":checked")) {
                    var id = $(this).attr("data-value");
                    idList.push(id);
                }
            });
            $("input[name='SelectedBills']").val(idList);
        });
                    //var arrCheckboxes;
                    //var checkboxSelector = "input[type='checkbox']";
                    //$("body").delegate(checkboxSelector, "change", function () {
                    //    arrCheckboxes = $(checkboxSelector).map(function () {
                    //        return { name: this.name, val: this.checked };
                    //    }).get();
                    //});


                    //var arrCheckboxes;
                    //var arrCheckboxBillId;
                    //var checkboxSelector = "input[type='checkbox']";
                    //$("body").delegate(checkboxSelector, "change", function () {
                    //    arrCheckboxes = $(checkboxSelector).map(function () {
                    //        if (this.checked == true) {
                    //            return {
                    //                name: this.name, val: this.checked
                    //            };}

                    //    }).get();
                    //    //arrCheckboxBillId = $(checkboxSelector).map(function () {
                    //    //    return { name: this.#BillId, val: this.checked};
                    //    //}).get();

                    //});
    </script>
}