@model NetspeedMainWebsite.Models.ViewModel.InfrastructureInquiryViewModel
@{
    ViewBag.Title = "InfrastructureCheck";
}

<html lang="tr">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8">
    <title> Netspeed Altyapı Sorgulama - İnternet Altyapı Sorgulama</title>
    <meta name="searchTitle" content="Netspeed Altyapı Sorgulama">
    <meta name="description" content="Limitsiz Evde İnternet keyfini Netspeed ile yaşayın! Türkiye'nin en ekonomik Taahhütsüz, Kotasız, Adsl, Vdsl, Fiber Hızında İnternet Paketleri Limitsiz Yalın Adsl - Ev ve Ofis interneti, Sınırsız Adsl.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://netspeed.com.tr/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Netspeed - Limitsiz Mutluluk">
    <meta property="og:image" content="/assets/media/logos/netspeed-only-face.png">
    <meta property="og:url" content="https://www.netspeed.com.tr/altyapi-sorgula">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <!--end::Fonts-->
    <!--ilk::Gnl Styles-->
    <link href="/assets/css/wizard5-basvuru.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/prismjs.bundle.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">

    <!--son::Gnl Styles-->
    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico">
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled" data-header-scroll="on">
    <div class="wpcc-container wpcc-banner wpcc-fontsize-tiny wpcc-bottom wpcc-color-custom-843166018 " style=""><span class="wpcc-message">Size daha iyi bir internet sitesi deneyimi ve kişiselleştirilmiş içerikler sunabilmek için çerezler kullanıyoruz. Sitemizi kullanarak, çerez kullanımına izin vermektesiniz. Daha fazla bilgi için lütfen çerez kullanım politikamızı inceleyiniz.  <a class="wpcc-privacy" href="/kvkk/" rel="noopener" target="_blank" tabindex="1"> Çerez Politikası</a></span><div class="wpcc-compliance"><a class="wpcc-btn" tabindex="2">Tamam</a></div></div>
    <!--begin::Main-->
    <!--begin::header-sm-->
    <div class="header-sm py-0 d-flex flex-lg-column" style="background-color: #1c0646;" id="kt_header">
        <!--begin::Container-->

        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">

            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-1">
                <div class="d-flex justify-content-center my-2">
                    <a href="#" class="text-dark-25 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-6">Bireysel</a>
                    <a href="kampanyalar" class="text-dark-50 font-size-sm text-hover-info mr-lg-8 mr-5 mb-lg-0 mb-2">İşiniz İçin</a>

                </div>

            </div>
            <!--end::Nav-->
        </div>

    </div>
    <!--end::Container-->
    <!--end::header-sm-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
        <div class="d-flex align-items-center">
            <!--begin::Logo-->
            <a href="/" class="mr-5">
                <img alt="Logo" src="/assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px">
            </a>
            <!--end::Logo-->

        </div>
        <!--begin::Toolbar-->
        <!--begin::hizlimenu-->
        <button class="btn p-0 ml-0" id="kt_quick_actions_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="" data-original-title="">
            <span class="svg-icon svg-icon-xl">
                <!--begin::Svg Icon-->
                <div class="btn btn-icon btn-dropdown btn-lg mr-0">
                    <div class="btn btn-icon btn-dropdown btn-lg mr-0 pulse pulse-white">
                        <span class="svg-icon svg-icon-xl svg-icon-danger">
                            <!--begin::Svg Icon-->
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                                    <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="pulse-ring"> </span>

                    </div>
                </div>
            </span>
        </button>
    </div>
    <!--end::Toolbar-->


    <div id="kt_quick_actions" class="offcanvas offcanvas-left p-6 offcanvas-off" style="background-color: #290b63;">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-10" kt-hidden-height="56" style="">
            <!--begin::Logo-->
            <a href="/" class="mr-7">
                <img alt="Logo" src="/assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-20px">
            </a>
            <!--end::Logo-->
            <a href="#" class="btn btn-sm btn-icon btn-hover-info" id="kt_quick_actions_close">
                <i class="ki ki-close icon-sm text-muted"></i>
            </a>
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="offcanvas-content pr-5 mr-n5 scroll ps" style="height: 549px; overflow: hidden;">
            <div class="row gutter-b">
                <!--begin::Item-->

                <div class="col-6">
                    <a href="kampanyalar" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-star font-size-h1 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Kampanyalar</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="basvur" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fab fa-wpforms font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Şimdi Başvur</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="altyapi-sorgula" class="btn btn-block btn-hover-primary text-center py-5 px-5" style="background-color: #43257d">
                        <i class="flaticon-placeholder-3 font-size-h1 text-warning"></i>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Altyapı Sorgula</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="destek" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fas fa-question-circle font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Yardım &amp; Destek</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="hiz-testi" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-tachometer-alt font-size-h2 menu-icon"></span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Hız Testi</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="sozlesme-ve-form" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">

                        <!--begin::Svg Icon-->
                        <span class="fas fa-file-signature font-size-h1 menu-icon">
                        </span>
                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Sözleşme / Formlar</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="destek/fatura-odeme" class="btn btn-block btn-hover-primary text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-credit-card font-size-h1 menu-icon ">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Fatura Ödeme</span>
                    </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="giris" class="btn btn-block btn-hover-primary btn-info text-warning text-center py-5 px-5" style="background-color: #43257d">
                        <span class="fas fa-user-alt font-size-h1 menu-icon">
                        </span>

                        <span class="d-block font-weight-bold text-white font-size-h8 mt-2">Online İşlemler</span>
                    </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
        <!--end::Content-->
    </div>


    <!--end::Header Mobile-->
    <!--begin::Header-->
    <div id="kt_header" class="header flex-column header-fixed">

        <!--begin::Top-->
        <div class="header-top" style="background-color: #290b63">

            <!--begin::Container-->
            <div class="container">

                <!--begin::Left-->
                <div class="d-none d-lg-flex align-items-center mr-3">
                    <!--begin::Logo-->
                    <a href="/" class="mr-10">
                        <img alt="Logo" src="/assets/media/svg/logos/bejjpluslogonew.svg" class="max-h-25px">
                    </a>
                    <!--end::Logo-->
                    <!--begin::Header Menu Wrapper-->
                    <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                        <!--begin::Header Menu-->
                        <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
                            <!--begin::Header Nav-->
                            <ul class="menu-nav">

                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="kampanyalar" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Kampanyalar</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="basvur" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Hemen Başvur</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <a href="/altyapi-sorgula" class="link m-3">
                                        <span class="text-white text-hover-warning font-size-h6">Altyapı Sorgula</span>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-rel" aria-haspopup="true">
                                    <ul class="menu-subnav">
                                        <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">

                                            <a href="javascript:;" class="link m-3">
                                                <span class="text-white text-hover-warning font-size-h6">Destek</span>

                                            </a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left" style="background-color: #290b63">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="sozlesme-ve-form" class="menu-link">
                                                            <span class="fas fas fa-sticky-note menu-icon">
                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Sözleşme &amp; Formlar</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="destek" class="menu-link">
                                                            <span class="fas fas fa-question-circle menu-icon">
                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Yardım &amp; Destek</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item" aria-haspopup="true">
                                                        <a href="hiz-testi" class="menu-link">
                                                            <span class="fas fa-tachometer-alt menu-icon">

                                                            </span>
                                                            <span class="font-size-h6 text-hover-warning menu-text">Hız Testi</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="topbar">
                    <!--begin::Desktop Arama-->
                    <div class="d-none m-4 d-lg-flex align-items-center">
                        <div class="quick-search quick-search-inline ml-4 w-250px" id="kt_quick_search_inline">
                            <!--begin::Form-->
                            <form method="get" class="quick-search-form">
                                <div class="input-group rounded">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="svg-icon svg-icon-lg">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control h-40px" placeholder="Nasıl yardımcı olabiliriz?">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="quick-search-close ki ki-close icon-sm" style="display: none;"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                            <!--begin::arama-sonuclari-->
                            <div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="0px,0px"></div>
                            <!--son::Search-->
                            <!--ilk::aclrm-->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-anim-up">
                                <div class="quick-search-wrapper scroll ps" data-scroll="true" data-height="350" data-mobile-height="200" style="height: 350px; overflow: hidden;">
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                                        </div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                </div>
                            </div>
                            <!--son::aclrm-->
                        </div>
                    </div>
                    <!--end::Desktop Arama-->
                    <!--end::Topbar-->
                    <!--ilk::mini panel-->
                    <div class="topbar-item">
                        <div class="btn btn-icon btn-sm btn-clean btn-text m-1 mr-2" id="kt_quick_user_toggle" data-toggle="tooltip" title="" data-original-title="Fatura Öde">
                            <a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">
                                <span class="svg-icon svg-icon-2x">

                                    <span class="svg-icon svg-icon-danger svg-icon-2x">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"></rect>
                                                <rect fill="#000000" x="2" y="8" width="20" height="3"></rect>
                                                <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"></rect>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>

                                </span>
                            </a>
                        </div><a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">
                            <!--son::mini panel-->
                            <!--begin::User-->
                        </a><div class="topbar-item">
                            <a href="destek/fatura-odeme" class="text-white text-hover-warning font-weight-bold font-size-sm d-none d-md-inline mr-1">

                            </a><a href="giris" class="btn btn-sm text-white btn-outline-info">Online İşlemler</a>
                        </div>
                    </div>
                </div>
                <!--end::Topbar-->
            </div>
        </div>
    </div>





    <!--end::Header Menu Wrapper-->
    <!--end::Section-->
    <!--begin::Content-->
    <!--begin::Subheader-->

    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <!--begin::Page Heading-->
        <div class="d-flex align-items-baseline flex-wrap my-5 mr-5">

        </div>
        <!--end::Toolbar-->
    </div>

    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Card Body-->
                <div class="card-body p-0">
                    <!--begin::Wizard 5-->
                    <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                        <!--begin::Aside-->
                        <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-450px" style="
                                    box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);">
                            <!--begin::Aside Top-->
                            <div class="d-flex flex-column-fluid flex-column px-xxl-20 px-10">
                                <!--begin: Wizard Nav-->
                                <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-15 pb-8">
                                    <!--begin::Wizard Steps-->
                                    <div class="wizard-steps">



                                        <!--begin::Wizard Step 1 Nav-->
                                        <div class="wizard-step">
                                            <div class="wizard-wrapper">
                                                <div class="wizard-icon">
                                                    <i class="wizard-check ki ki-check"></i>
                                                    <span class="wizard-number"><i class="flaticon-placeholder-3 font-size-h2 text-info"></i></span>
                                                </div>
                                                <div class="wizard-label">
                                                    <h3 class="wizard-title font-weight font-size-h4">Adres Altyapı Sorgulama</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Wizard Step 1 Nav-->
                                        <!--begin::Wizard Step 2 Nav-->
                                        <div class="wizard-step">
                                            <div class="wizard-wrapper">
                                                <div class="wizard-icon">
                                                    <i class="wizard-check ki ki-check"></i>
                                                    <span class="wizard-number"><i class="flaticon2-rocket-1 font-size-h2 text-dark-50"></i></span>
                                                </div>
                                                <div class="wizard-label">
                                                    <h3 class="wizard-title font-weight font-size-h4">Altyapı Sorgulama Sonucu</h3>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <!--end::Wizard Steps-->
                                </div>
                                <!--end: Wizard Nav-->
                                <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-bottom bgi-position-center bgi-size-contain pt-15 pt-lg-10 h-250px" style="background-image: url(/assets/media/svg/astitled-1.svg)"></div><br>
                            </div>
                            <!--end::Aside Top-->

                        </div>
                        <!--begin::Aside-->
                        <!--begin::Content-->

                        <div class="card card-custom wizard-content d-flex flex-column flex-row-fluid py-15 px-5 px-lg-10 " style="box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);
                                    box-shadow: box-shadow:-webkit-box-shadow: -10px 68px 106px -16px rgba(0,0,0,0.37);
                                    -moz-box-shadow: -13px 68px 106px -16px rgba(0,0,0,0.37);">



                            <!--begin::Title-->
                            <div class="text-right mb-lg-4 mb-15 mr-xxl-10">

                            </div>
                            <!--end::Title-->
                            <!--begin::Form-->
                            <div class="d-flex justify-content-center flex-row-fluid ">
                                @using (Html.BeginForm("InfrastructureInquiryResult", "InfrastructureInquiry", FormMethod.Post, new { @class = "pb-5 w-100 w-md-450px w-lg-500px", @id = "kt_form2" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <!--begin: Wizard Step 1-->
                                    <!--begin::Title-->
                                    <div class="pb-10 pb-lg-15">

                                        <h3 class="font-weight-bolder text-info font-size-h2">Netspeed Altyapı Sorgulama</h3><hr class="my-0">
                                        <div class="text-dark-50 font-weight font-size-h5 my-6 mt-2">Altyapı port ve alabileceğiniz hız durumunu sorgulayabilmek için adres bilgilerinizi dikkatli bir şekilde seçerek <strong>Altyapımı Sorgula </strong> butonuna basınız.</div>

                                        <!--begin::Form Group-->
                                        <div class="row">

                                            <div class="separator separator-dashed mt-5 my-3"></div>
                                            <div class="col-lg-12 col-md-12">
                                                <h3 class="font-weight-bolder text-dark-50 font-size-h3">Adres Bilgileriniz</h3><hr>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Şehir</label>
                                                    @Html.DropDownListFor(m => m.ProvinceId, new SelectList(ViewBag.ProvinceList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                            </div>
                                            <!--end::Form Group-->
                                            <!--begin::Form Group-->

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">İlçe</label>
                                                    @Html.DropDownListFor(m => m.DistrictId, new SelectList(ViewBag.DistrictList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                                <!--end::Form Group-->
                                            </div>
                                            <!--begin::Form Group-->

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Semt</label>
                                                    @Html.DropDownListFor(m => m.RegionId, new SelectList(ViewBag.RegionList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                            </div>
                                            <!--end::Form Group-->
                                            <!--begin::Form Group-->

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Mahalle</label>
                                                    @Html.DropDownListFor(m => m.NeighborhoodId, new SelectList(ViewBag.NeighborhoodList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                                <!--end::Form Group-->
                                            </div>

                                            <!--begin::Form Group-->

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Sokak/Cadde</label>
                                                    @Html.DropDownListFor(m => m.StreetId, new SelectList(ViewBag.StreetList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                            </div>
                                            <!--end::Form Group-->
                                            <!--begin::Form Group-->

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Apt./Bina No</label>
                                                    @Html.DropDownListFor(m => m.BuildingId, new SelectList(ViewBag.BuildingList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                                <!--end::Form Group-->
                                            </div>

                                            <!--begin::Form Group-->

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Kapı No</label>
                                                    @Html.DropDownListFor(m => m.ApartmentId, new SelectList(ViewBag.ApartmentList, "Value", "Text"), "Seçim Yapınız", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                                                </div>
                                                <!--end::Form Group-->
                                                <button type="submit" class="btn btn-block font-weight-bolder btn-danger btn-hover-warning mt-12">Altyapımı Sorgula</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Content-->
            </div>


        </div>
    </div>



    <!--end::Content-->
    <!--begin::Footer-top-->
    <div class="footer mt-10 py-6 d-flex flex-lg-column" style="background-color: #301065;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-1">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mr-2">Müşteri Destek Hattı  |</span>
                <a href="tel:08508005800" class="text-dark-25 font-weight-bold font-size-h6 text-hover-warning">0850 800 5 800</a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 mb-2 order-md-2">
                <span class="text-dark-25 font-weight-bold font-size-h6 font-weight-bold mt-2">Bizi Takip Edin</span>
                <a href="https://www.facebook.com/netspeedtr" class="btn btn-icon btn-sm btn-white-facebook mr-2"><i class="socicon-facebook text-hover-warning"></i></a>
                <a href="https://twitter.com/netspeedtr" class="btn btn-icon btn-sm btn-white-twitter mr-2"><i class="socicon-twitter text-hover-warning"></i></a>
                <a href="https://www.instagram.com/netspeedtr" class="btn btn-icon btn-sm btn-white-instagram mr-2"><i class="socicon-instagram text-hover-warning"></i></a>
                <a href="https://www.youtube.com/channel/UC_o84M_iunxghaC8zgLuSwA" class="btn btn-icon btn-sm btn-white-youtube mr-2"><i class="socicon-youtube text-hover-warning"></i></a>


            </div>
            <!--end::Nav-->
        </div>
        <!--end::Container-->
    </div>

    <!--end::Footer-top-->
    <!--begin::Footer-->
    <div class="footer py-4 d-flex flex-lg-column" style="background-color: #1a0340;" id="kt_footer">
        <!--begin::Container-->
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
            <!--begin::Copyright-->
            <div class="text-dark order-2 order-md-2">
                <span class="text-muted font-weight-bold mr-2">©2021</span>
                <a href="/" class="mr-0">
                    <img alt="Netspeed" src="/assets/media/logos/bejlogomini.svg" class="max-h-15px mr-3">
                </a>
            </div>
            <!--end::Copyright-->
            <!--begin::Nav-->
            <div class="nav nav-dark order-1 order-md-1">
                <div class="d-flex flex-wrap justify-content-center my-2">
                    <a href="destek/bizeulasin" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-6">Bize Ulaşın</a>
                    <a href="destek/hakkimizda" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Hakkımızda</a>
                    <a href="destek/fatura-odeme" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Fatura Ödeme</a>
                    <a href="destek/gizlilik" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Gizlilik</a>
                    <a href="destek/cerez-politikasi" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Çerez Politikası</a>
                    <a href="destek/kvkk" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Kişisel Verilerin Korunması</a>
                    <a href="destek/siber-guvenlik" class="text-dark-25 text-hover-warning font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">Siber Güvenlik</a>
                </div>
            </div>
            <!--end::Nav-->
        </div>
    </div>
    @Html.Partial("~/Views/Home/SupportParts/_SupportSearchList.cshtml")
    <!--end::Container-->
    <!--end::Footer-->
    <!--end::Wrapper-->
    <!--end::Page-->
    <!--end::Main-->
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var NtsAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#0BB783", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#D7F9EF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Standart Full(used by all pages)-->
    <script src="/assets/js/plugins.bundle.js"></script>
    <script src="/assets/js/prismjs.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Standart Full-->
    <!--begin::Sayfa Ozel Full-->
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(Sayfa Ozel Full)-->
    <script src="/assets/js/input-mask.js"></script>
    <script src="/assets/js/hide-show-fields-form.js"></script>
    <script src="/assets/js/widgets.js"></script>
    <script src="/assets/js/cookieconsent.min.js" defer=""></script>
    <script src="/assets/js/helpbubscript.js"></script>
    <script src="/Scripts/js/get-infrastructure.js"></script>

    <script>
        $('#ProvinceId').change(function () {
            GetValues('#ProvinceId', '#DistrictId', '@Url.Action("GetDistricts", "InfrastructureInquiry")');
        })
        $('#DistrictId').change(function () {
            GetValues('#DistrictId', '#RegionId','@Url.Action("GetRegions", "InfrastructureInquiry")');
        })
        $('#RegionId').change(function () {
            GetValues('#RegionId', '#NeighborhoodId', '@Url.Action("GetNeighborhoods", "InfrastructureInquiry")');
        })
        $('#NeighborhoodId').change(function () {
            GetValues('#NeighborhoodId', '#StreetId','@Url.Action("GetStreets", "InfrastructureInquiry")');
        })
        $('#StreetId').change(function () {
            GetValues('#StreetId', '#BuildingId', '@Url.Action("GetBuildings", "InfrastructureInquiry")');
        })
        $('#BuildingId').change(function () {
            GetValues('#BuildingId', '#ApartmentId', '@Url.Action("GetApartments", "InfrastructureInquiry")');
        })
        $('#ApartmentId').change(function () {
        })
    </script>
    <!--end::Page Scripts-->
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg>
</body><!--end::Body-->
</html>