@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel

@*@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

    @Html.Partial("ApplicationParts/_ApplicationConstant")*@

<div class="pb-5" data-wizard-type="step-content">
    @*@Html.AntiForgeryToken()*@
    <!--begin::Title-->
    <div class="pb-15 pb-lg-5">
        <h3 class="font-weight-bolder text-dark font-size-h2">Kimlik Bilgileriniz</h3><hr class="my-4">
    </div>
    <!--begin::Title-->
    <div class="form-group">
        <div class="col-lg-6 col-md-6">
            <label class="font-size-h6 font-weight-bolder text-dark">Kimlik Kart Tipi</label>

            @* @Html.EnumDropDownListFor(m => m.IDCardTypes, "SEÇİNİZ", new { @class = "form-control h-auto p-4 border-0 rounded-lg font-size-h6" })*@
            @Html.DropDownListFor(m => m.IDCardType, Model.IDCardTypeList, "SEÇİNİZ", new { @class = "form-control h-auto p-4 border-0 rounded-lg font-size-h6" })

            @* <input type="text" class="form-control h-auto p-4 border-0 rounded-lg font-size-h6" name="tcno" placeholder="T.C Kimlik No" name="evtelno" id="kt_inputmask_18" im-insert="true" value="" />*@
        </div>
        @*<div class="form-group">*@
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Uyruk</label>

                    @* @Html.EnumDropDownListFor(m => m.CountryCodes, "SEÇİNİZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })*@
                    @Html.DropDownListFor(m => m.Nationality, Model.NationalityList, "SEÇİNİZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">T.C Kimlik Numaranız</label>
                <div class="form-control h-auto p-4 border-0 rounded-lg font-size-h6">
                    @Html.EditorFor(m => m.TC, new { @class = "form-control h-auto p-4 border-0 rounded-lg font-size-h6" })
                </div>
            </div>
            @* <input type="text" class="form-control h-auto p-4 border-0 rounded-lg font-size-h6" name="tcno" placeholder="T.C Kimlik No" name="evtelno" id="kt_inputmask_18" im-insert="true" value="" />*@

        </div>
        <div class="fv-plugins-message-container">
            <div class="text-danger">
                @* @Html.ValidationMessageFor(model => model.CountryCodes)*@
            </div>


        </div>
        <!--begin::Form Group-->


        <div class="row">
            <div class="col-xl-4">
                <!--begin::Input-->
                <div class="form-group fv-plugins-icon-container">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Doğum Yılı</label>
                    @* @Html.DropDownListFor(m => m.BirthDay, Model.BirthDay, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })*@
                    @* @Html.DropDownListFor(m => m.BirthYear, new SelectList(ViewBag.Years, "Value", "Text"), "Yıl Seçin", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })*@

                    @*   @Html.DropDownListFor(m => m.BirthYear, "Yıl Seçin", new SelectList(, "value", "text"), new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", id = "yearElem" })*@
                    @Html.DropDownListFor(m => m.BirthYear, new SelectList(ViewBag.Years, "Value", "Text"), "Yıl Seçin", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    <div class="fv-plugins-message-container">
                        @*  <div class="text-danger"> @Html.ValidationMessageFor(model => model.BirthYear)</div>*@
                    </div>
                    <div class="fv-plugins-message-container"></div>
                    @Html.HiddenFor(m => m.BirthYear)
                </div>
            </div>

            <div class="col-xl-4">
                <!--begin::Input-->
                <div class="form-group fv-plugins-icon-container">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Doğum Ayı </label>
                    @* @Html.DropDownListFor(m => m.BirthDay, Model.BirthDay, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })*@
                    @Html.DropDownListFor(m => m.BirthMonth, new SelectList(ViewBag.Months, "Value", "Text"), "Ay Seçin", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", id = "BirthMonth" })
                    <div class="fv-plugins-message-container">
                        @*  <div class="text-danger"> @Html.ValidationMessageFor(model => model.BirthMonth)</div>*@
                    </div>
                    @Html.HiddenFor(m => m.BirthYear)
                </div>
                <!--end::Input-->
            </div>
            <div class="col-xl-4">
                <!--begin::Input-->
                <div class="form-group fv-plugins-icon-container">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Doğum Günü</label>
                    @Html.DropDownListFor(m => m.BirthDay, Model.BirthDayList, "Gün Seçin", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", id = "BirthDay" })

                    <div class="fv-plugins-message-container">
                        @*<div class="text-danger"> @Html.ValidationMessageFor(model => model.BirthDay)</div>*@

                    </div>
                    @Html.HiddenFor(m => m.BirthYear)
                </div>
                <!--end::Input-->
            </div>
        </div>

        <div class="pb-0 pb-lg-0">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Baba Adı</label>
                        @Html.EditorFor(m => m.FatherName, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.FatherName)
                    </div>
                    @Html.HiddenFor(m => m.BirthYear)
                </div>
                <!--end::Form Group-->
                <!--begin::Form Group-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Anne Adı</label>
                        @Html.EditorFor(m => m.MotherName, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.MotherName)
                    </div>
                    @Html.HiddenFor(m => m.BirthYear)
                </div>
            </div>

        </div>

        <div class="pb-0 pb-lg-0">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Doğum Yeri</label>
                        @Html.EditorFor(m => m.BirthPlace, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>
                    <div class="text-danger">
                         @Html.ValidationMessageFor(model => model.BirthPlace)
                    </div>
                    @Html.HiddenFor(m => m.BirthPlace)
                </div>
                <!--end::Form Group-->
                <!--begin::Form Group-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Seri No</label>
                        @Html.EditorFor(m => m.SerialNo, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.SerialNo)
                    </div>
                    @Html.HiddenFor(m => m.SerialNo)
                </div>
            </div>

        </div>


        <!--end::Form Group-->
        <!--begin::Form Group-->
        <div class="pb-0 pb-lg-0">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Verildiği Yer</label>
                        @Html.EditorFor(m => m.PlaceOfIssue, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>
                    <div class="text-danger">
                         @Html.ValidationMessageFor(model => model.PlaceOfIssue)
                    </div>
                </div>
                @Html.HiddenFor(m => m.PlaceOfIssue)
                <!--end::Form Group-->
                <!--begin::Form Group-->
                <div class="col-lg-6 col-md-6">
                    @*<div class="form-group">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">Verildiği Tarih</label>
                @Html.EditorFor(m => m.DateOfIssue, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

            </div>*@
                    <div class="text-danger">
                        @* @Html.ValidationMessageFor(model => model.MotherName)*@
                    </div>
                </div>
            </div>

        </div>


        <div class="pb-0 pb-lg-5">
            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Verildiği Tarih</label>
                        @Html.EditorFor(m => m.DateOfIssue, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>

                    @Html.HiddenFor(m => m.DateOfIssue)

                    <div class="col-lg-6 col-md-6">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Cinsiyet</label>

                        @Html.DropDownListFor(m => m.Sex, Model.SexList, "SEÇİNİZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                    </div>
                </div>
                @Html.HiddenFor(m => m.Sex)


                <!--end::Form Group-->
                <!--begin::Form Group-->

            </div>
            <div class="pb-0 pb-lg-5">
                <div class="row">
                    <!--end::Form Group-->
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">

                            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Anne Kızlık Soyadı</label>
                            @Html.EditorFor(m => m.MotherFirstSurname, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

                            @*<input type="text" class="form-control h-auto p-3 border-0 rounded-lg font-size-h6" name="annekizliksoyad" placeholder="Anne Kızlık Soyadı" value="">*@
                        </div>
                        <div class="text-danger">
                            @Html.ValidationMessageFor(model => model.MotherFirstSurname)

                        </div>
                        @Html.HiddenFor(m => m.MotherFirstSurname)
                    </div>
                </div>
            </div>
        </div>
    </div>
     </div>
    @*</div>*@
    <!--end::Form Group-->
    <!--end: Wizard Step 6-->

  