@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel


<div class="pb-5" data-wizard-type="step-content">
    @*@Html.AntiForgeryToken()*@
    <!--begin::Title-->
    <div class="pb-15 pb-lg-5">
        <h3 class="font-weight-bolder text-dark font-size-h2">Kimlik Bilgileriniz</h3><hr class="my-4">
    </div>
    <!--begin::Title-->
    <div class="form-group">
        <div class="col-lg-6 col-md-6">
            <label class="font-size-h6 font-weight-bolder text-dark">Kimlik Kart Tipi</label>
            @Html.DropDownListFor(m => m.IDCardType, Model.IDCardTypeList, "SEÇİNİZ", new { @class = "form-control h-auto p-4 border-0 rounded-lg font-size-h6" })
            @* <input type="text" class="form-control h-auto p-4 border-0 rounded-lg font-size-h6" name="tcno" placeholder="T.C Kimlik No" name="evtelno" id="kt_inputmask_18" im-insert="true" value="" />*@
        </div>
        @*<div class="form-group">*@
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Uyruk</label>
                    @Html.DropDownListFor(m => m.Nationality, Model.NationalityList, "SEÇİNİZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">T.C Kimlik Numaranız</label>
                <div class="form-control h-auto p-4 border-0 rounded-lg font-size-h6">
                    @Html.EditorFor(m => m.TC, new { htmlAttributes = new { @class = "form-control h-auto p-4 border-0 rounded-lg font-size-h6", @placeholder = "T.C Kimlik Numaranız" } })
                </div>
            </div>
        </div>
        <div class="fv-plugins-message-container">
            <div class="text-danger">
            </div>
        </div>

        <div class="pb-0 pb-lg-0">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Baba Adı</label>
                        @Html.EditorFor(m => m.FatherName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Baba Adı" } })
                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.FatherName)
                    </div>
                    @Html.HiddenFor(m => m.FatherName)
                </div>
                <!--end::Form Group-->
                <!--begin::Form Group-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Anne Adı</label>
                        @Html.EditorFor(m => m.MotherName, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Anne Adı" } })
                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.MotherName)
                    </div>
                    @Html.HiddenFor(m => m.MotherName)
                </div>
            </div>
        </div>

        <div class="pb-0 pb-lg-0">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Doğum Yeri</label>
                        @Html.EditorFor(m => m.BirthPlace, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Doğum Yeri" } })
                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.BirthPlace)
                    </div>
                    @Html.HiddenFor(m => m.BirthPlace)
                </div>
                <!--end::Form Group-->
                <!--begin::Form Group-->
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder m-2 text-dark">Seri No</label>
                        @Html.EditorFor(m => m.SerialNo, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Seri No" } })
                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.SerialNo)
                    </div>
                    @Html.HiddenFor(m => m.SerialNo)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="font-size-h6 font-weight-bolder m-2 text-dark">Doğum Günü</label>
                    @*@Html.EditorFor(m => m.DateOfIssue, new { htmlAttributes = new { @class = "datepicker form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Gün.Ay.Yıl" } })*@
                    @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "datepicker", @placeholder = "Doğum Günü" } })
                </div>
                <div class="text-danger">
                    @Html.ValidationMessageFor(model => model.BirthDate)
                </div>
                @Html.HiddenFor(m => m.BirthDate)
            </div>
            <div class="col-lg-6 col-md-6">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">Cinsiyet</label>
                @Html.DropDownListFor(m => m.Sex, Model.SexList, "SEÇİNİZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
            </div>
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
        </div>
        @Html.HiddenFor(m => m.Sex)
    </div>
            <!--end::Form Group-->
            <!--begin::Form Group-->
           @* <div class="pb-0 pb-lg-0">*@
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Verildiği Tarih</label>
            @*@Html.EditorFor(m => m.DateOfIssue, new { htmlAttributes = new { @class = "datepicker form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Gün.Ay.Yıl" } })*@
            @Html.EditorFor(m => m.DateOfIssue, new { htmlAttributes = new { @class = "datepicker", @placeholder = "Verildiği Tarih" } })
        </div>

        @Html.HiddenFor(m => m.DateOfIssue)
        @Html.ValidationMessageFor(model => model.DateOfIssue)

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Verildiği Yer</label>
            @Html.EditorFor(m => m.PlaceOfIssue, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Verildiği Yer" } })

        </div>
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.PlaceOfIssue)
        </div>
    </div>
    @Html.HiddenFor(m => m.PlaceOfIssue)
    <!--end::Form Group-->
    <!--begin::Form Group-->
    
</div>
            @*</div>*@

            <div class="pb-0 pb-lg-5">
                <div class="row">
                    <!--<div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Verildiği Tarih</label>-->
                            @*@Html.EditorFor(m => m.DateOfIssue, new { htmlAttributes = new { @class = "datepicker form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Gün.Ay.Yıl" } })*@
                            <!--@Html.EditorFor(m => m.DateOfIssue, new { htmlAttributes = new { @class = "datepicker", @placeholder = "Verildiği Tarih" } })
                        </div>

                        @Html.HiddenFor(m => m.DateOfIssue)
                        @Html.ValidationMessageFor(model => model.DateOfIssue)

                       </div>-->


                    <!--end::Form Group-->
                    <!--begin::Form Group-->

                </div>
                <div class="pb-0 pb-lg-5">
                    <div class="row">
                        <!--end::Form Group-->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder m-2 text-dark">Anne Kızlık Soyadı</label>
                                @Html.EditorFor(m => m.MotherFirstSurname, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Anne Kızlık Soyadı", } })
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.MotherFirstSurname)

                            </div>
                            @Html.HiddenFor(m => m.MotherFirstSurname)
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
@*</div>*@
<!--end::Form Group-->
<!--end: Wizard Step 6-->
