@model NetspeedMainWebsite.Models.ViewModel.InfrastructureTariffViewModel
@using NetspeedMainWebsite.Models.ViewModel


@Html.AntiForgeryToken()

<!--begin::Title-->
<div class="text-right mb-lg-4 mb-15 mr-xxl-10">

</div>
<!--end::Title-->
<!--begin::Form-->
<div class="d-flex justify-content-center flex-row-fluid ">
    <div class="pb-5 w-100 w-md-450px w-lg-500px" id="kt_form2">

        <!--begin: Wizard Step 1-->
        <!--begin::Title-->
        <div class="pb-12 pb-lg-15">

            <div class=" w-autoustify-content-center text text-center ml-auto">
                <!--begin::Card Body-->
                <h3 class="font-weight-bolder font-size-h3 mb-1">
                    <a href="#" class="text-dark">Adresinizde Alabileceğiniz Maksimum Hız</a>
                </h3>
                <div class="header-top">
                    <div class="text-warning font-weight-bolder display-3 mb-9 animate__animated animate__fadeIn">
                        <div id="MaxSpeed"></div>
                        @Html.DisplayFor(m => m.MaxSpeed)
                    </div>


                    <h3 class="font-weight-bolder font-size-h3 mb-1">
                        <a href="#" class="text-dark">Santral/Saha Dolabı Tahmini Mesafe</a>
                    </h3>
                    <div class="header-top">
                        <div class="text-warning font-weight-bolder font-size-h1 font-size-h2 mb-9 animate__animated animate__fadeIn animate__delay-1s">
                            <div id="Distance"></div>
                            @Html.DisplayFor(m => m.Distance)
                            <label>metre</label>
                        </div>


                        <h3 class="font-weight-bolder font-size-h3 mb-3 ">
                            <a href="#" class="text-dark">Port Durumu</a>
                            @Html.DisplayFor(m => m.PortState)
                        </h3>

                        <h2>
                            <span class="badge badge-success animate__animated animate__fadeIn animate__delay-2s">
                                <label id="XDSLType"></label>
                                @Html.DisplayFor(m => m.XDSLType)
                            </span>
                        </h2>

                        <!--begin::Info-->
                        <hr class="my-6 bg-info">

                        <div class="text-dark order-2 order-md-2">
                            <a href="/" class="mr-0">
                                <img alt="Netspeed" src="~/Content/media/logos/bejlogomini.svg" class="max-h-15px mr-3">
                            </a>
                            <span class="text-muted font-weight-bold mr-2">
                                Sorgu No :

                                <label id="SVUID"></label>
                                @Html.DisplayFor(m => m.SVUID)

                            </span>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Card Body-->
                </div>
            </div>
        </div>

        <div class="container text-center pt-12 py-0">
            <div class=" justify-content-center">

                <span>
                    <button type="button" class="btn btn-outline-info btn-hover-text-dark-50 text-dark font-weight-bolder px-12 m-2 " data-toggle="modal" data-target="#exampleModal">
                        Sizi Arayalım mı?
                    </button>
                </span>
                <span>
                    <a href="/Application/Index" type="button" class="btn  font-weight-bolder text-dark btn-outline-warning px-12 m-2 btn-hover ">Yeniden Sorgula</a>
                </span>
            </div>
            <hr class="my-12 bg-info">

            <small class="text-dark text-center my-4"> Sorgulama sonucunda verilen bilgiler yaklaşık değerlerdir. Gerçek kullanım esnasında bu kapasiteyi kullanmanız her zaman mümkün olmayabilir. Hızınız şebeke altyapısı, bina/hane içi kablo tesisatınız, bölgenizdeki hatların yoğunluğu, sunucuların veya bilgisayarınızın performansı gibi faktörlere bağlı olarak değişiklik gösterebilmektedir.</small>

        </div>

    </div>
</div>

<!--begin::Title-->
<div class="text-right mb-lg-4 mb-15 mr-xxl-10">

</div>
<!--end::Title-->
<!--begin::Form-->
<div class="d-flex justify-content-center flex-row-fluid ">
    <div class="pb-5 w-100 w-md-450px w-lg-500px" novalidate="novalidate" id="kt_form">
        <!--begin: Wizard Step 1-->
        <!--end::Form Group-->
        <!--end: Wizard Step 2-->
        <!--begin: Wizard Step 4-->
        <div class="pb-5" data-wizard-type="step-content">
            <!--begin::Title-->
            <!--end::Title-->
            <!--begin::Form Group-->
            <!--begin: Wizard Step 5-->
            <div class="pb-5" data-wizard-type="step-content">
                <!--begin::Title-->
                <div class="pb-10 pb-lg-8">
                    <h3 class="font-weight-bolder text-dark font-size-h2">Tarife Tercihi</h3><hr class="my-4">
                    <div class="text-dark-50 font-weight font-size-h5 mt-5">
                        Adresinizde desteklenen altyapıya göre aşağıdaki tarifelerden seçim yapabilirsiniz.
                    </div>
                </div>
                <!--end::Title-->
                @*<div class="row">*@
                @Html.Partial("ApplicationParts/_TariffCard", Model.TariffList)
            </div>
        </div>
    </div>
</div>

<!--end::Form-->
<!--end::Content-->

