@model NetspeedMainWebsite.Models.ViewModel.ApplicationViewModel
@using NetspeedMainWebsite.Models.ViewModel


@Html.AntiForgeryToken()


<div class="text-danger" style="font-size:2em">
    @*@TempData["message"]*@
</div>
<!--begin::Title-->
<div class="text-right mb-lg-4 mb-15 mr-xxl-10">

</div>
<!--end::Title-->
<!--begin::Form-->
<div class="d-flex justify-content-center flex-row-fluid ">
</div>

<!--begin::Form Group-->

<div class="separator separator-dashed my-3"></div>
<div class="pb-10 pb-lg-5">
    <h3 class="font-weight-bolder text-dark-50 font-size-h2">Adres Bilgileriniz</h3>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">İl</label>
            @Html.DropDownListFor(m => m.ProvinceId,new SelectList(ViewBag.ProvinceList,"Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
            <div class="text-danger"> @Html.ValidationMessageFor(m => m.ProvinceId)</div>
            @Html.HiddenFor(m => m.ProvinceId)
        </div>
    </div>
    <!--end::Form Group-->
    <!--begin::Form Group-->

    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">İlçe</label>
            @Html.DropDownListFor(m => m.DistrictId, new SelectList(ViewBag.DistrictList, "Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

            <div class="text-danger"> @Html.ValidationMessageFor(m => m.DistrictId)</div>
            @Html.HiddenFor(m => m.DistrictId)
        </div>
        <!--end::Form Group-->
    </div>
</div>

<!--begin::Form Group-->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Semt</label>
            @Html.DropDownListFor(m => m.RegionId, new SelectList(ViewBag.RegionList, "Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

            <div class="text-danger"> @Html.ValidationMessageFor(m => m.RegionId)</div>
            @Html.HiddenFor(m => m.RegionId)
        </div>
    </div>
    <!--end::Form Group-->
    <!--begin::Form Group-->

    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Mahalle</label>
            @Html.DropDownListFor(m => m.NeighborhoodId, new SelectList(ViewBag.NeighborhoodList, "Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })

            <div class="text-danger"> @Html.ValidationMessageFor(m => m.NeighborhoodId)</div>
            @Html.HiddenFor(m => m.NeighborhoodId)
        </div>
        <!--end::Form Group-->
    </div>
</div>

<!--begin::Form Group-->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Sokak/Cadde</label>
            @Html.DropDownListFor(m => m.StreetId, new SelectList(ViewBag.StreetList, "Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.StreetId)
            </div>
            @Html.HiddenFor(m => m.StreetId)
        </div>
    </div>
    <!--end::Form Group-->
    <!--begin::Form Group-->

    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Apt./Bina No</label>
            @Html.DropDownListFor(m => m.BuildingId, new SelectList(ViewBag.BuildingList, "Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.BuildingId)
            </div>
            @Html.HiddenFor(m => m.BuildingId)
        </div>
        <!--end::Form Group-->
    </div>
</div>

<!--begin::Form Group-->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Kapı No</label>
            @Html.DropDownListFor(m => m.ApartmentId, new SelectList(ViewBag.ApartmentList, "Value", "Text"), "SECINIZ", new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
        </div>
        <div class="text-danger">
            @Html.ValidationMessageFor(m => m.ApartmentId)
        </div>
        @Html.HiddenFor(m => m.ApartmentId)
    </div>    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Kat No</label>
            @Html.EditorFor(m => m.Floor, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Kat No", @maxlength = 3 } })
        </div>
        <div class="text-danger">
            @Html.ValidationMessageFor(m => m.Floor)
        </div>
        @Html.HiddenFor(m => m.Floor)
    </div>
</div>
<!--end::Form Group-->
<!--begin::Form Group-->
<div class="row">

    <!--end::Form Group-->
    <!--begin::Form Group-->

    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder m-2 text-dark">Posta Kodu</label>
            @Html.EditorFor(m => m.PostalCode, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = "Posta Kodu", @maxlength = 5 } })
            <!--end::Form Group-->
        </div>
        <div class="text-danger">
            @Html.ValidationMessageFor(m => m.PostalCode)
        </div>
        @Html.HiddenFor(m => m.PostalCode)

        <!--end::Form Group-->

    </div>
</div>



@section script{

    @Scripts.Render("~/Scripts/js/get-infrastructure.js")
    @Scripts.Render("~/Scripts/js/get-ServiceAvailability.js")

<script>

    $('#btnadad').on('click', function (e) 

    $('#ProvinceId').change(function () {
        GetValues('#ProvinceId', '#DistrictId', '/Application/GetDistricts');
    })
    
</script>

   
    <script>
        $('#ProvinceId').change(function () {
            GetValues('#ProvinceId', '#DistrictId', '/Application/GetDistricts');
        })
        $('#DistrictId').change(function () {
            GetValues('#DistrictId', '#RegionId', '/Application/GetRegions');
        })
        $('#RegionId').change(function () {
            GetValues('#RegionId', '#NeighborhoodId', '/Application/GetNeighborhoods');
        })
        $('#NeighborhoodId').change(function () {
            GetValues('#NeighborhoodId', '#StreetId', '/Application/GetStreets');
        })
        $('#StreetId').change(function () {
            GetValues('#StreetId', '#BuildingId', '/Application/GetBuildings');
        })
        $('#BuildingId').change(function () {
            GetValues('#BuildingId', '#ApartmentId', '/Application/GetApartments');
        })
        $('#ApartmentId').change(function () {
        })
    </script>

}
